body {
  color: #333333;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: normal;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  background-color: #ffffff;
}

.button-academy {
  color: #000000;
}

.button-more-detailed {
  color: #ffffff;
  background-color: #81b3d2;
}

.button-more-detailed:hover {
  background-color: #669ec0;
}

.button-more-detailed:focus,
.button-more-detailed:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.button-to-book {
  color: #ffffff;
  background-color: #766357;
}

.button-to-book:hover {
  background-color: #604e43;
}

.button-to-book:focus,
.button-to-book:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.button-hotel {
  font-size: 14px;
}

.button-show {
  color: #ffffff;
  font-size: 21px;
  border: 2px solid #ffffff;
  background-color: rgba(111, 111, 111, 0);
}

.button-show:hover,
.button-show:focus {
  color: #000000;
  background-color: #ffffff;
}

.find-item-wrapper {
  display: flex;
  justify-content: space-around;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social a {
  color: #000000;
}

.form-wrapper-interested {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.form-wrapper-text {
  text-align: center;
}

.found {
  margin-left: 70px;
}

.index-welcome {
  background-image: url(../img/background-photo.jpg);
}

.index-welcome::after {
  content: url("../img/intro-mask.svg");
  position: relative;
  bottom: -10px;
}

.index-welcome img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 132px;
  padding-bottom: 79px;
 }

.list-item {
  margin: 0;
  padding: 0;
  color: #333333;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.list-of-hotels {
  margin: 0;
  padding: 0;
}

.list-rating-estimation {
  margin-left: auto;
}

.list-sorting-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.list-style {
  list-style: none;
}

.main-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-header-logo {
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
}

.main-title {
  width: 440px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 140px;
}

.rating {
  color: #666666;
  background-color: #f2f2f2;
}

.reasons-block-second {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.reasons-city {
  line-height: 21px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
}

.reasons-city-first {
  width: 284px;
}

.reasons-city-second {
  width: 284px;
  margin-left: 133px;
}

.reasons-city-third {
  width: 273px;
  margin-left: 122px;
}

.reasons-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
}

.reasons-image-first,
.reasons-image-second {
  line-height: 0;
}

.reasons-item-first,
.reasons-item-second {
  color: #ffffff;
  width: 400px;
  text-align: center;
  min-height: 256px;
  align-self: flex-start;
  background-color: #81b3d2;
}

.reasons-item-third,
.reasons-item-fourth,
.reasons-item-fifth {
  text-align: center;
  min-height: 256px;
  background-color: #eeeeee;
  flex-grow: 1;
}

.reasons-item-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: flex-start;
}

.reasons-text-name {
  font-size: 21px;
  font-weight: 700;
}

.reasons-title {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: normal;
  text-align: center;
  margin-top: 38px;
}

.result-of-search {
  margin: 0;
  padding: 0;
}

.search {
  color: #ffffff;
  padding-top: 30px;
  background-color: #6f6f6f;
  background-image: url("../img/filter-background.jpg");
}

.search-button {
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
  width: 568px;
  min-height: 86px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.search-button:hover {
  background-color: #604e43;
}

.search-button:focus,
.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.search-form {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.search-section-infrastructure {
  margin-left: 50px;
}

.search-section-type {
  margin-left: 80px;
}

.search-list {
  margin-left: auto;
  margin-right: 50px;
}

.search-section-subtitle {
  font-size: 16px;
  font-weight: 700;
}

.site-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.site-navigation-item {
  width: 239px;
  min-height: 56px;
  box-sizing: border-box;
}

.site-navigation-item a {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  top: 14px;
}

.site-navigation-item a:hover {
  color: #81b3d2;
}

.site-navigation-item a:focus,
.site-navigation-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-item:nth-child(1),
.site-navigation-item:nth-child(2) {
  padding-left: 72px;
}

.site-navigation-item:nth-child(3),
.site-navigation-item:nth-child(4) {
  text-align: right;
  padding-right: 72px;
}

.site-navigation-shift {
  margin-left: auto;
}

.site-navigation-current a {
  color: #766357;
}

.sort {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.sort-icon {
  margin-right: 40px;
}

.sort-icon a {
  color: #000000;
}

.sorting {
  color: #000000;
  font-size: 12px;
  margin-left: 40px;
}

.sorting-by {
  font-size: 12px;
  padding-right: 33px;
  width: 238px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.sorting-by-item a {
  color: rgba(0, 0, 0, 0.3);
}

.sorting-by-active a {
  color: #81b3d2;
}

.sorting-by-item a:hover {
  color: #81b3d2;
}

.sorting-by-item a:focus,
.sorting-by-item a:active {
  color: #000000;
}

.to-find-button {
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  background-color: #81b3d2;
  border: none;
  width: 458px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-height: 58px;
}

.to-find-button:hover {
  background-color: #669ec0;
}

.to-find-button:focus,
.to-find-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.to-find-form {
  width: 568px;
  min-height: 395px;
  text-transform: uppercase;
  background-color: #ffffff;
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
}

.to-find-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.to-find-item input {
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.to-find-item input:hover {
  background-color: #ebebeb;
}

.to-find-item input:focus {
  background-color: #ffffff;
  border: 2px inside #e5e5e5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button-telephone,
.footer-contacts,
.found,
.main-title,
.reasons-name {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
}

.to-find-text,
.to-find-item input {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
}