body {
  color: #333333;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: normal;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

input::-ms-clear {
  display: none;
}

.container {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  background-color: #ffffff;
}

.ascending-sort {
  margin-right: 12px;
}

.button-academy {
  width: 115px;
  height: 41px;
  margin-left: 8px;
}

.button-academy:focus {
  outline: none;
}

.button-academy:hover path,
.button-academy:focus path {
  fill: #81b3d2;
}

.button-academy:active path {
  fill: #bdbbbc;
}

.button-calendar {
  outline: none;
  border: none;
  position: absolute;
  z-index: 5;
  left: 477px;
  background-color: rgba(255, 255, 255, 0);
}

.button-calendar path {
  fill: #cacaca;
}

.button-calendar:hover path,
.button-calendar:focus path {
  fill: #000000;
}

.button-calendar:active path {
  fill: #81b3d2;
}

.button-calendar-arrival {
  top: 62px;
}

.button-calendar-departure {
  top: 129px;
}

.button-more-detailed {
  display: inline-block;
  width: 110px;
  height: 27px;
  box-sizing: border-box;
  text-align: center;
  margin-right: 6px;
  color: #ffffff;
  background-color: #81b3d2;
}

.button-more-detailed:hover,
.button-more-detailed:focus {
  background-color: #669ec0;
}

.button-more-detailed:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.button-people {
  position: relative;
  font-size: 26px;
  font-weight: 700;
  width: 38px;
  height: 38px;
  border: none;
  color: rgba(0, 1, 1, 0.2);
}

.button-people::before {
  position: absolute;
  content: "";
  z-index: 10;
  width: 12px;
  height: 3px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  background-color: #a9a9a9;
}

.button-people:hover::before {
  background-color: #000000;
}

.button-people:active::before {
  background-color: #81b3d2;
}

.button-people-plus {
  position: relative;
}

.button-people-plus::after {
  position: absolute;
  content: "";
  z-index: 10;
  width: 3px;
  height: 11px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #a9a9a9;
}

.button-people-plus:hover::after {
  background-color: #000000;
}

.button-people-plus:active::after {
  background-color: #81b3d2;
}

.button-telephone {
  margin: 0;
}

.button-to-book {
  display: inline-block;
  width: 142px;
  height: 27px;
  box-sizing: border-box;
  text-align: center;
  color: #ffffff;
  background-color: #766357;
}

.button-to-book:hover,
.button-to-book:focus {
  background-color: #604e43;
}

.button-to-book:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.button-hotel {
  font-size: 15px;
  border: none;
  height: 27px;
  margin: 0;
}

.button-show {
  color: #ffffff;
  font-size: 21px;
  border: 2px solid #ffffff;
  background-color: rgba(111, 111, 111, 0);
}

.button-show:hover,
.button-show:focus {
  color: #000000;
  background-color: #ffffff;
}

.checkboxes {
  padding-left: 0;
}

.cost-hotel {
  margin-bottom: 18px;
  padding: 0;
  line-height: 12px;
}

.find-item-wrapper {
  width: 458px;
  margin-top: 1px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.footer-contacts {
  margin: 0;
}

.footer-contacts-wrapper {
  width: 350px;
  padding-left: 31px; 
  box-sizing: border-box;
}

.footer-copyright {
  width: 350px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-social {
  width: 150px;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.form-wrapper-interested {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  margin-top: 49px;
  margin-bottom: 27px;
}

.form-wrapper-text {
  text-align: center;
  margin-bottom: 45px;
  line-height: 24px;
}

.found {
  margin-left: 72px;
}

.index-welcome {
  background: url("../img/background-photo.jpg") no-repeat 0 -56px;
}

.index-welcome::after {
  content: url("../img/intro-mask.svg");
  position: relative;
  bottom: -10px;
}

.index-welcome img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 76px;
  padding-bottom: 20px;
 }

.list-item {
  margin: 0;
  padding: 30px 0 22px 0;
  color: #333333;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.list-about-hotel {
  margin:0 0 0 30px;
  padding: 0;
  height: 90px;
  border: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.list-image-hotel {
  margin: 0 0 0 72px;
  padding: 0;
}

.list-of-hotels {
  margin: 0;
  padding: 0;
}

.list-rating-estimation {
  padding: 0;
  margin: 0 73px 0 auto;
  height: 90px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.list-sorting-wrapper {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.list-style {
  list-style: none;
}

.main-footer {
  margin: 0;
  height: 120px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 101px;
}

.main-header-logo {
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
}

.main-title {
  width: 440px;
  height: 48px;
  line-height: 24px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 61px;
}

.map-image {
  line-height: 0;
}

.name-hotel {
  margin: 0;
  padding: 0;
  line-height: 16px;
}

.name-hotel a {
  color: #000000;
}

.name-hotel a:hover,
.name-hotel a:focus {
  color: #81b3d2;
}

.name-hotel a:active {
  color: rgba(0, 0, 0, 0.3);
}

.rating {
  display: inline-block;
  color: #666666;
  width: 110px;
  height: 27px;
  box-sizing: border-box;
  padding-left: 16px;
  margin-top: auto;
  margin-bottom: 0;
  background-color: #f2f2f2;
}

.reasons-block {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.reasons-city {
  padding: 0;
  line-height: 21px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-grow: 1;
}

.reasons-city-item {
  width: 300px;
  text-align: center;
}

.reasons-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
}

.reasons-image {
  line-height: 0;
}

.reasons-item {
  box-sizing: border-box;
  text-align: center;
  padding-top: 30px;
  width: 250px;
  min-height: 256px;
  background-color: #eeeeee;
  flex-grow: 1;
}

.reasons-item p {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.reasons-item-image {
  color: #ffffff;
  width: 400px;
  min-height: 256px;
  box-sizing: border-box;
  text-align: center;
  background-color: #81b3d2;
}

.reasons-item-image p {
  width: 305px;
  margin-right: auto;
  margin-left: auto;
}

.reasons-item-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.reasons-item .reasons-name {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.reasons-item-image .reasons-text-name {
  font-size: 21px;
  font-weight: 700;
  width: 200px;
  padding-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

.reasons-title {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: normal;
  text-align: center;
  margin-top: 38px;
  margin-bottom: 56px;
}

.result-of-search {
  margin: 0;
  /*padding: 0 72px;*/
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.search {
  color: #ffffff;
  padding-top: 30px;
  background-color: #6f6f6f;
  background-position: 0 -300px;
  background-repeat: no-repeat;
  background-image: url("../img/filter-background.jpg");
}

.search-button {
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
  width: 568px;
  min-height: 86px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.search-button:hover,
.search-button:focus {
  background-color: #604e43;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.search-form {
  height: 217px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 31px 72px;
}

.search-section-infrastructure {
  margin-left: 50px;
  border: none;
}

.search-section-type {
  margin-left: 80px;
  border: none;
}

.search-list {
  margin-left: auto;
  margin-right: 50px;
}

.search-section-subtitle {
  font-size: 16px;
  font-weight: 700;
}

.site-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.site-navigation-item {
  width: 239px;
  min-height: 56px;
  box-sizing: border-box;
}

.site-navigation-item a {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  top: 14px;
}

.site-navigation-item a:hover,
.site-navigation-item a:focus {
  color: #81b3d2;
}

.site-navigation-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-item:nth-child(1),
.site-navigation-item:nth-child(2) {
  padding-left: 72px;
}

.site-navigation-item:nth-child(3),
.site-navigation-item:nth-child(4) {
  text-align: right;
  padding-right: 72px;
}

.site-navigation-shift {
  margin-left: auto;
}

.site-navigation-current a {
  color: #766357;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.sort {
  margin-left: auto;
  margin-right: 73px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.sort-icon a {
  color: #000000;
}

.sorting {
  color: #000000;
  font-size: 12px;
  margin-left: 40px;
}

.sorting-by {
  font-size: 12px;
  padding-right: 33px;
  width: 238px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.sorting-by-item a {
  color: rgba(0, 0, 0, 0.3);
}

.sorting-by-active a {
  color: #81b3d2;
}

.sorting-by-item a:hover,
.sorting-by-item a:focus {
  color: #81b3d2;
}

.sorting-by-item a:active {
  color: #000000;
}

.stardom {
  margin: 0;
  padding: 0;
  line-height: 17px;
}

.to-find-button {
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  background-color: #81b3d2;
  border: none;
  width: 458px;
  display: block;
  margin-top: 54px;
  margin-left: auto;
  margin-right: auto;
  min-height: 58px;
  display: inline-block;
}

.to-find-button:hover,
.to-find-button:focus {
  background-color: #669ec0;
}

.to-find-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.to-find-date {
  margin-bottom: 29px;
}

.to-find-date input {
  width: 346px;
  min-height: 38px;
  box-sizing: border-box;
  padding-left: 21px;
}

.to-find-form {
  margin: 0;
  width: 568px;
  text-transform: uppercase;
  background-color: #ffffff;
  padding: 55px;
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
}

.to-find-item {
  width: 458px;
  height: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.to-find-item input {
  border: none;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.to-find-item input:hover {
  background-color: #ebebeb;
}

.to-find-item input:focus {
  color: #000000;
  background-color: #ffffff;
  outline: none;
  border: 2px solid #e5e5e5;
}

.to-find-adult {
  width: 226px;
}

.to-find-children {
  width: 179px;
}

.to-find-people p {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.to-find-people input {
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  border: none;
  text-align: center;
}

.type {
  display: inline-block;
  width: 110px;
  margin-right: 6px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button-telephone,
.footer-contacts,
.found,
.main-title,
.name-hotel,
.reasons-name {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
}

.to-find-text,
.to-find-item input {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
}