body {
  color: #333333;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;  
  letter-spacing: normal;
  text-transform: uppercase;
  width: 1280px;
  height: 2762px;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.button-academy {
  color: #000000;	
}

.button-more-detailed {
  color: #ffffff;
  background-color: #81b3d2;
}

.button-more-detailed:hover {
  color: #ffffff;
  background-color: #669ec0;
}

.button-more-detailed:focus,
.button-more-detailed:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.button-show {
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  background-color: rgba(111, 111, 111, 0);
}

.button-telephone {
  color: #000000;	
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  list-style: none;
}

.button-to-book {
  color: #ffffff;  
  background-color: #766357;
}

.button-to-book:hover {
  color: #ffffff;
  background-color: #604e43;
}

.button-to-book:focus,
.button-to-book:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.button-hotel {
  font-size: 14px;
  line-height: 21px;
}

.checkboxes {
  border-color: #ffffff;
}

.choice-button {
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  background-color: #766357;
}

.choice-button:hover {
  color: #ffffff;
  background-color: #604e43;
}

.choice-button:focus,
.choice-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.choice-date {
  background-color: #f2f2f2;
}

.choice-people {
  background-color: #f2f2f2;	
}

.container {
  width: 1200px;
  height: 2762px;
  background-color: #ffffff;
}

.footer-contacts {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.footer-social a {
  color: #000000;
}

.found {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;	
}

.form-wrapper-interested{
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.index-welcome {
  background-color: #9a9999;
  background-image: url("../img/background-photo.jpg");
  background-repeat: no-repeat;
}

.list-item {
  color: #333333;
}

.list-style {
  list-style: none;	
}

.main-title {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
}

.rating {
  color: #666666;
  background-color: #f2f2f2;
}

.reasons-city {
  font-height: 21px;
}

.reasons-name {
  color: #000000;
  font-size: 21px;
  font-weight: 700;	
}

.reasons-text-name {
  font-size: 21px;	
  font-weight: 700;
}

.reason-text {
  color: #ffffff;
  background-color: #81b3d2;	
}

.reasons-title {
  color: #333333;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;  
  letter-spacing: normal
}

.search {
  color: #ffffff;
  background-color: rgb(111, 111, 111);
}

.search-section {
  line-height: 21px;
}

.search-section-subtitle {
  font-size: 16px;
  font-weight: 700;
}

.site-navigation {
  font-weight: 700;
  font-stretch: normal;
}

.site-navigation a {
  color: #000000;
}	

.site-navigation a:focus,
.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current a {
  color: #766357;
}

.site-navigation-item a: {
  color: #000000;
}

.site-navigation-item a:hover {
  color: #81b3d2;
}

.site-navigation-item a:focus,
.site-navigation-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.sort-icon a {
  color: #000000;
}

.sorting {
  color: #000000;
  font-size: 12px;
  line-height: 18px;
}

.sorting-by {
  font-size: 12px;
  line-height: 18px;
}

.sorting-by-item a {
  color: rgba(0, 0, 0, 0.3);
}

.sorting-by-active a {
  color: #81b3d2;
}

.sorting-by-item a:hover {
  color: #81b3d2;
}

.sorting-by-item a:focus,
.sorting-by-item a:active {
  color: #000000;
}

.to-find-button {
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  background-color: #81b3d2
}

.to-find-item {
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


